body {
  background-color:white;
  color:black;
}

/* HEADER */
.my-photo{
  width:180px;
}


.tab{
  font-family:sans-serif;
}

/* HEADINGS */
h3{
  text-align: center;
  background-color:	#DCDCDC;
  color:#2D7084;
  margin: 8px 0;
}

h1:hover{
  color:#2D7084;}

  h1{
    margin: 5px 0 10px;
  }

  p{
    margin: 10px 0 0;
  }

/* EDUCATION */
.education{
  color:#308DA9;
}

.gpa{
  text-align: right;
  margin:0;
}
/* techincal comp */
ul{
  margin:8px 0;
}
/* POSITIONING */
.quality{
  width:100%;
}
.left{
  float:left;
  width:100px;
}
.right{
  float:right;
  width:100px;
}
.middle{
  margin:0 auto;
  width:100px;
}

.left2{
  float:left;
    width: 300px;
  }
.right2{
  float:right;
    width: 160px;
  }
.middle2{
  margin:0 auto;
    width: 103px;
  }

  /* coursework */
.courses{
  width: 70%;
  margin:auto 15%;
}

.cours{
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
}


.code, .dates{
  font-size: 14px;
  font-style: normal;
  font-family: sans-serif;
  font-weight: normal;
  color:black;
}






input[type=text]{
  border: 1px outset;
  background-color: #ebf0fa;
}
input[type=email] {
  border: 1px outset ;
  background-color: #ebf0fa;
}
textarea{
  border: 1px outset;
  background-color: #ebf0fa;
}
input[type=submit]{
  background-color: #555555;
  color: white;
  border:hidden;
  font-size: 16px;

}

input[type=submit]:hover {
  background-color:#2D7084;
  color: white;
}
